<div class="starter-template">
    <h1>Designer, Full-stack Developer & SEO Specialist</h1>
    <p class="lead">I design and code beautifully simple things, and I love what I do.</p>
<br>
<div>
    <img src="\assets\cartoonOfMe.png" class="cartoon1">
</div>
<br>
<br>

<div >
    <img  src="\assets\networkdeveloper.png" class="cartoon">
</div>

<!-- <section class="section is-medium is-primary has-text-centered is-long bg">
    <div class="container-fluid">
      <div class="columns is-centered">
        <div class="column is-three-fifths">
          <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">Hi, I’m Bret. Nice to meet you.</h1>
          <h2 class="subtitle is-size-5-desktop">Since beginning my journey as a freelance designer nearly 8 years ago, I've done remote work for agencies, consulted for startups, and collaborated with talented people to create digital products for both business and consumer use. I'm quietly confident, naturally curious, and perpetually improving my chops.</h2>
        </div>
      </div>
    </div>
  </section> -->
  
  </div>